In [1]:
#Q1) A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
#SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

In [ ]:
"""
Q2) data definition language is a syntax for creating and modifying database objects such as tables, indices, and users
CREATE:The CREATE TABLE command creates a new table in the database.
CREATE TABLE Persons (
    PersonID int,
   LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

The DROP TABLE command deletes a table in the database.
DROP TABLE Shippers;

ALTER TABLE
The ALTER TABLE command adds, deletes, or modifies columns in a table.The ALTER TABLE command also adds and deletes various constraints in a table
ALTER TABLE Customers
DROP COLUMN Email;

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE Categories;

In [ ]:
"""
Q3)A data manipulation language is a computer programming language used for adding, deleting, and modifying data in a database.

The INSERT INTO command is used to insert new rows in a table.
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');

The UPDATE command is used to update existing rows in a table.
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;

The DELETE command is used to delete existing records in a table.
DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';

In [ ]:
"""
Q4) Data Query Languages, are computer languages that are used to make various queries in information systems and databases.
The SELECT command is used to select data from a database. The data returned is stored in a result table, called the result set.
SELECT CustomerName, City FROM Customers;

In [ ]:
"""
Q5)A primary key is used to ensure data in the specific column is unique. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables

In [ ]:
"""
Q6) import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)

Cursor():A database cursor is an identifier associated with a group of rows. It is, in a sense, a pointer to the current row in a buffer. You must use a cursor in the following cases: Statements that return more than one row of data from the database server: A SELECT statement requires a select cursor.

execute():The execute() method: This method is used to execute SQL DDL statements, it returns a boolean value specifying weather the ResultSet object can be retrieved

In [ ]:
"""
Q7) The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7.LIMIT/OFFSET: these clauses are executed to keep or skip certain no. of rows