In [6]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Q1
import pandas as pd
list=[4, 8, 15, 16, 23, 42]
ser=pd.Series(list)

In [8]:
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
#Q2
ls=[1,2,3,4,5,6,7,8,9,10]
pd.Series(ls)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#Q3
dic={"Name":["alice","bob","claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
df=pd.DataFrame(dic)
print(df)

     Name  Age  Gender
0   alice   25  Female
1     bob   30    Male
2  claire   27  Female

In [8]:
#Q4 DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
#1)Series are 1-D, whereas Dataframe are 2-D. 2)Series consists of homogeneous data, whereas dataframe consists of heterogeneous data. 3)series are value mutable whereas dataframe are not.
type(df)

pandas.core.frame.DataFrame

In [10]:
type(df["Name"])

pandas.core.series.Series

In [12]:
#Q5 .head() can be used to print a specific no of top values
#.tail() can be used to print a specific no. of bottom values
#.shape can be used to find the shape returns no. of rows and columns in the dataframe as tuple
df.head(1)

    Name  Age  Gender
0  alice   25  Female

In [13]:
df.tail(1)

     Name  Age  Gender
2  claire   27  Female

In [14]:
df.shape

(3, 3)

In [16]:
#Q6 panel and datframes are mutable whereas series is immutable

In [22]:
#Q7
pd.DataFrame({"nos":ser,"name":df["Name"]})

   nos    name
0    4   alice
1    8     bob
2   15  claire
3   16     NaN
4   23     NaN
5   42     NaN